{
  "openapi": "3.1.0",
  "info": {
    "title": "HeyGen External API",
    "version": "1.0.0",
    "description": "HeyGen's external API for programmatic AI video creation. See https://docs.heygen.com for full documentation.",
    "contact": {
      "name": "HeyGen Product Infra",
      "url": "https://heygen.com"
    }
  },
  "servers": [
    {
      "url": "https://api.heygen.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Video Agent",
      "description": "Create videos from text prompts using AI"
    },
    {
      "name": "Videos",
      "description": "Create, list, retrieve, and delete videos"
    },
    {
      "name": "Voices",
      "description": "Text-to-speech and voice management"
    },
    {
      "name": "Video Translate",
      "description": "Translate videos into other languages"
    },
    {
      "name": "User",
      "description": "Account information and billing"
    },
    {
      "name": "Avatars",
      "description": "List and manage avatars and looks"
    },
    {
      "name": "Assets",
      "description": "Upload files for use in video creation"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints and events"
    },
    {
      "name": "Lipsync",
      "description": "Dub or replace audio on existing videos"
    }
  ],
  "paths": {
    "/v1/video_agent/generate": {
      "post": {
        "summary": "Create a video from a prompt",
        "description": "Create a video from a text prompt using HeyGen's Video Agent. This is the recommended way to create videos \u2014 just describe what you want and the agent handles avatar selection, scripting, and production. The video is generated asynchronously \u2014 use the returned video_id to poll status via GET /v2/videos/{video_id}.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExternalCreateVideoAgentSessionResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized"
                  },
                  "data": null
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests"
                  },
                  "data": null
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "createVideoAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCreateVideoAgentSessionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/video-agents": {
      "post": {
        "summary": "Create video with Video Agent",
        "description": "Create a video from a text prompt using Video Agent. Returns a session resource with session_id for tracking and video_id for polling status via GET /v3/videos/{video_id}. Files can be provided as asset_id (from POST /v3/assets), HTTPS URL, or base64-encoded content. Supported types: image (png, jpeg), video (mp4, webm), audio (mp3, wav), and pdf.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateVideoAgentResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'prompt' is required and must be 1-10000 characters.",
                    "param": "prompt",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/create-video-with-video-agent"
        },
        "operationId": "createVideoAgentV3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoAgentRequest"
              }
            }
          }
        }
      }
    },
    "/v3/video-agents/styles": {
      "get": {
        "summary": "List Video Agent styles",
        "description": "List curated video styles available for Video Agent. Each style defines a visual template (scenes, script structure, pacing) that guides video generation. Pass the returned style_id to POST /v3/video-agents to apply a style. Supports cursor-based pagination and tag filtering.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StyleItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 50.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/list-video-agent-styles"
        },
        "operationId": "listVideoAgentStyles",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter by tag (e.g., 'cinematic', 'retro-tech', 'iconic-artist', 'pop-culture', 'handmade', 'print').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/avatars": {
      "post": {
        "summary": "Create an avatar",
        "description": "Create an avatar from multiple file sources. Returns an avatar_id for tracking purposes via GET /v3/avatars/looks/{avatar_id} . Also returns an avatar_group_id for tracking purposes via GET /v3/avatars/{avatar_group_id} . Files can be provided as asset_id (from POST /v3/assets), HTTPS URL, or base64-encoded content. Supported types: image (png, jpeg), video (mp4, webm), audio (mp3, wav), and pdf.",
        "tags": [
          "Avatars"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateAvatarResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "At least one file source is required: provide image, video, or consent_video.",
                    "param": "files",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/create-an-avatar"
        },
        "operationId": "createAvatar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvatarRequestBody"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List avatar groups",
        "description": "List avatar groups (characters) with cursor-based pagination. Filter by ownership: 'all' (default), 'public' for preset avatars, or 'private' for your own. Each group contains one or more looks (outfits/styles) \u2014 use GET /v3/avatars/looks to browse them.",
        "tags": [
          "Avatars"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AvatarGroupItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 50.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-avatar-groups"
        },
        "operationId": "listAvatarGroups",
        "parameters": [
          {
            "name": "ownership",
            "in": "query",
            "required": false,
            "description": "Filter by ownership: 'public' for preset avatars, or 'private' for your own. Omit for all.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return per page (1-50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/audio/text_to_speech": {
      "post": {
        "summary": "Generate speech audio from text",
        "description": "Synthesize speech audio from text using a specified voice. Returns a URL to the generated audio file along with duration and optional word-level timestamps.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TextToSpeechResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'voice_id' is required.",
                    "param": "voice_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "textToSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        }
      }
    },
    "/v1/audio/voices": {
      "get": {
        "summary": "List voices for text-to-speech",
        "description": "List voices available for TTS generation with cursor-based pagination. Filter by type (public/private), language, and gender.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoiceItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "listAudioVoices",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ],
              "default": "public"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language (e.g. 'English').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender ('male' or 'female').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/voices/speech": {
      "post": {
        "summary": "Create speech audio from text",
        "description": "Synthesize speech audio from text using a specified voice. Returns a URL to the generated audio file along with duration and optional word-level timestamps.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TextToSpeechResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'voice_id' is required.",
                    "param": "voice_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/create-speech-audio-from-text"
        },
        "operationId": "createSpeechV3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        }
      }
    },
    "/v3/voices": {
      "post": {
        "summary": "Design a voice",
        "description": "Create a custom voice from a natural language description. Describe the voice you want \u2014 tone, gender, accent, personality \u2014 and receive up to 3 voice options to choose from. Use the seed parameter to generate different variations. The returned voice_id can be used directly in video creation endpoints.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DesignVoiceResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'prompt' is required.",
                    "param": "prompt",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/design-a-voice"
        },
        "operationId": "designVoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DesignVoiceRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List voices",
        "description": "List available voices with cursor-based pagination. Filter by type (public/private), engine, language, and gender. Use engine=starfish to get voices compatible with the text-to-speech endpoint.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoiceItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/list-voices"
        },
        "operationId": "listVoicesV3",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ],
              "default": "public"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "description": "Filter by voice engine (e.g. 'starfish'). When set, only voices compatible with that engine are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language (e.g. 'English').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender ('male' or 'female').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/videos": {
      "post": {
        "summary": "Create an avatar video",
        "description": "Create a video from a specific avatar or image with full control over avatar, voice, and script. Use this only when you need explicit control over avatar selection and scripting. For most video creation, use the create_video_agent tool instead which handles these choices automatically. Supports photo avatars, video avatars (digital twins), and direct image input. The video is generated asynchronously \u2014 poll status via GET /v2/videos/{video_id}.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateAvatarVideoResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "Exactly one visual source required: avatar_id, image_url, or image_asset_id.",
                    "param": "avatar_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "createAvatarVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvatarVideoRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List videos",
        "description": "List videos in the account with pagination and optional filtering.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoDetail"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "listVideos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "description": "Filter videos by folder ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Filter videos by title substring",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/videos/{video_id}": {
      "get": {
        "summary": "Get video details",
        "description": "Get detailed information about a video including status, URLs, and metadata. Supports both generated and translated videos.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VideoDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Video not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "getVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique video identifier"
          }
        ]
      },
      "delete": {
        "summary": "Delete a video",
        "description": "Permanently delete a video. Supports both generated and translated videos.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeleteVideoResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Video not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "deleteVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique video identifier"
          }
        ]
      }
    },
    "/v3/videos": {
      "post": {
        "summary": "Create a video",
        "description": "Create a video from a HeyGen avatar or an arbitrary image. Set type to 'avatar' to use a previously created avatar, or 'image' to animate a custom image. Both modes support text-to-speech scripts or pre-recorded audio for lip-sync. The video is generated asynchronously \u2014 poll status via GET /v3/videos/{video_id}.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateAvatarVideoResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "Exactly one visual source required: avatar_id, image_url, or image_asset_id.",
                    "param": "avatar_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/create-a-video"
        },
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoV3RequestBody"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List videos",
        "description": "List videos in the account with pagination and optional filtering.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoDetail"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/list-videos"
        },
        "operationId": "listVideosV3",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "description": "Filter videos by folder ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Filter videos by title substring",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/videos/{video_id}": {
      "get": {
        "summary": "Get video details",
        "description": "Get detailed information about a video including status, URLs, and metadata. Supports both generated and translated videos.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VideoDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Video not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/get-video-details"
        },
        "operationId": "getVideoV3",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique video identifier"
          }
        ]
      },
      "delete": {
        "summary": "Delete a video",
        "description": "Permanently delete a video. Supports both generated and translated videos.",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeleteVideoResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Video not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/delete-a-video"
        },
        "operationId": "deleteVideoV3",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique video identifier"
          }
        ]
      }
    },
    "/v2/video_translate": {
      "post": {
        "summary": "Create video translation",
        "description": "Translate a video into one or more target languages. The translation runs asynchronously \u2014 the response contains a video_translate_id which can be used with get_video to poll status and retrieve the download URL when complete.\n\nUse list_video_translate_languages to discover supported language codes before calling this endpoint.\n\nKey parameters:\n- video_url (required): URL of the source video to translate.\n- output_language: Single target language code. Mutually exclusive with output_languages.\n- output_languages: Array of target language codes for batch translation. Mutually exclusive with output_language.\n- mode: \"speed\" (default, faster) or \"precision\" (higher quality, uses avatar inference).\n- brand_voice_id: Custom brand voice. Requires prior brand voice setup.\n- srt_url / srt_role: Custom subtitle file. Enterprise plan only.\n- fps_mode: Frame rate mode (\"vfr\", \"cfr\", \"passthrough\"). Only valid when audio_url is provided.",
        "tags": [
          "Video Translate"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VideoTranslateCreateResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'video_url' is required.",
                    "param": "video_url",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "createVideoTranslate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPVideoTranslateCreateRequest"
              }
            }
          }
        }
      }
    },
    "/v2/video_translate/target_languages": {
      "get": {
        "summary": "List video translate languages",
        "description": "List all supported target language codes for video translation. Call this before create_video_translate to validate language choices.",
        "tags": [
          "Video Translate"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ListTargetLanguageResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "listVideoTranslateLanguages"
      }
    },
    "/v2/video_translate/caption": {
      "get": {
        "summary": "Get video translate caption",
        "description": "Get the caption file (SRT or VTT format) for a completed video translation. The translation must have status \"completed\" \u2014 use get_video to check status first. Requires enable_caption=true when creating the translation.",
        "tags": [
          "Video Translate"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VideoTranslateCaptionGetResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'video_translate_id' is required.",
                    "param": "video_translate_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "getVideoTranslateCaption",
        "parameters": [
          {
            "name": "video_translate_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caption_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "vtt",
                "srt"
              ]
            }
          }
        ]
      }
    },
    "/v3/video-translations": {
      "post": {
        "summary": "Create video translation",
        "description": "Translate a video into one or more target languages. The translation runs asynchronously \u2014 the response contains an id (or ids for batch) which can be used to poll status.\n\nUse GET /v3/video-translations/languages to discover supported language codes.",
        "tags": [
          "Video Translate"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VideoTranslationCreateResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'video_url' is required.",
                    "param": "video_url",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-mint": {
          "href": "/reference/create-video-translation"
        },
        "operationId": "createVideoTranslationV3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoTranslationRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List video translations",
        "description": "List video translations with cursor-based pagination.",
        "tags": [
          "Video Translate"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoTranslationDetail"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
[...]
